/*Variables globales*/
:root {
    --fuentePrincipal: 'Poppins', sans-serif;
    --azulbajo: #E4EBF8;
    --blanco: #ffffff;
    --gris: #A8A8A8;
}

html {
    /*Con esto se hace que un rem sea igual a 10px*/
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: var(--fuentePrincipal);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--azulbajo);
    font-size: 16px;
}

img {
    max-width: 100%;
}

/* Contenedor */

.contenedor {
    width: min(90%, 35rem);
    margin: 12rem auto;
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 5%;
}

.contenedor img{
    border-radius: 5%;
}

.contenedor__contenido{
    text-align: center;
}

.contenedor__contenido--bold{
    font-size: 2rem;
    font-weight: 700;
}

.contenedor__contenido--normal{
    font-weight: 400;
    color: var(--gris);
}

footer{
    text-align: center;
}