/*Variables globales*/
:root {
    --fuentePrincipal: 'Poppins', sans-serif;
    --gris: #e1e1e1;
    --blanco: #ffffff;
}

html {
    /*Con esto se hace que un rem sea igual a 10px*/
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: var(--fuentePrincipal);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--gris);
    font-size: 16px;
}

img {
    max-width: 100%;
}

/* Contenedor */

.contenedor {
    width: min(90%, 35rem);
    margin: 12rem auto;
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 5%;
}

.contenedor img{
    border-radius: 5%;
}
